<% content_for(:head) do%>
<%= javascript_include_tag 'progress_bar' %>
<% end %>
<h2>Searching please wait</h2>
<div id = "progress_bar_container">
    <div id="progress_bar" class = "span-4">
    </div>
</div>
<br />
<br />
<br />
<br />
